<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers">

	<resultMap id="TireResultMap" type="Tire">
		<result column="tires_name" property="name" />
		<result column="diameter" property="diameter" />
		<result column="width/height" property="params" />
		<result column="carType" property="carType" />
		<result column="type" property="type" />
		<result column="price" property="price" />
	</resultMap>

	<select id="getAllTires" resultMap="TireResultMap">
		select * from tires
	</select>

	<insert id="insertTire" parameterType="Tire">
		INSERT IGNORE INTO tires (tires_name, diameter,
		width/height, carType, type, price) VALUES
		(#{tires_name}, #{diameter}, #{width/height},
		#{carType}, #{type}, #{price})
	</insert>

	<insert id="insertTires" parameterType="Tire">
		INSERT IGNORE INTO sites (tires_name, diameter, width/height,
		carType, type, price) VALUES
		<foreach item="item" collection="list" separator=",">
			(#{item.tires_name}, #{item.diameter}, #{item.width/height},
			#{item.carType}, #{item.type}, #{item.price})
		</foreach>
	</insert>

</mapper>
