<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers">

	<resultMap id="TyreTireResultMap" type="LightTruck">
		<result column="name" property="name" />
		<result column="price" property="price" />
		<result column="diameter" property="diameter" />
		<result column="width" property="width" />
		<result column="height" property="height" />
		<result column="type" property="type" />
	</resultMap>

	<select id="getAllTyreTires" resultMap="TyreTireResultMap"
		resultType="LightTruck">
		select name, diameter, width, height, type, price, car_type from
		tires
		inner join car_type on car_type.id = tires.car_type_id
		where
		car_type_id = 2
	</select>

	<insert id="insertTyreTire" parameterType="LightTruck">
		INSERT  INTO
		tires
		(name, price, diameter,
		width, height, type, car_type_id) VALUES
		(#{name}, #{price}, #{diameter}, #{width}, #{height}, #{type}, (select car_type.id from car_type where car_type.id = 2))
	</insert>

	<insert id="insertTyreType">
		INSERT IGNORE INTO car_type (id, car_type) VALUES (2,
		#{car_type})
	</insert>

</mapper>