<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="_database.properties">
		<property name="username" value="username" />
		<property name="password" value="password" />
		<property name="url" value="url" />
		<property name="driver" value="driver" />
	</properties>

	<typeAliases>
		<typeAlias alias="Tire" type="com.qaprosoft.models.Tire" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mybatis/mappers/Tire_Mapper.xml" />
	</mappers>

</configuration>